<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

		<title>File Upload</title>
	</head>
	<body>
		<div class="container">
			<h1>File Upload</h1>

			
  <div class="row">
    <form class="col s12" action="/upload" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate" value="john">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" value="password">
          <label for="password">Password</label>
        </div>
		<button type = "submit" class="btn">Login</button>
    </form>
  </div>
        
		</div>
		<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

	</body>
</html>